.post-year-group {
    display: flex;
}

.posts > * + * {
    margin-top: 1em;
}

.post-year {
    font-size: 3ex;
    padding-right: 1em;
    opacity: 0.5;
    display: grid;
    align-self: center;
}

ul.post-year-items {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 0.75em;
    border-radius: 0.5em;
    background: #f9f9f9;
}

.post-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-decoration: none;
}

.post-item:not(:first-child) {
    padding-top: 0.5em;
    border-top: 1px dashed rgb(226, 226, 226);
}

.post-item:not(:last-child) {
    padding-bottom: 0.5em;
}

.post-item a {
    color: black;
}

span.post-date {
    opacity: 0.5;
}